<?xml version="1.0"?>

<robot name="body_urdf"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- URDF Files -->
  <xacro:include filename="$(find mtig_driver)/urdf/materials.xacro" />
  <xacro:include filename="$(find mtig_driver)/urdf/math_defs.xacro" />
  <xacro:include filename="$(find mtig_driver)/urdf/parameters.xacro" />

  <!-- ROBOT -->
<!--  <xacro:include filename="$(find mtig_driver)/urdf/body_full.xacro" />-->
<!--  <xacro:include filename="$(find mtig_driver)/urdf/body_full_fixed.xacro" />-->
<!--  <xacro:include filename="$(find mtig_driver)/urdf/body.xacro" />-->
  <xacro:include filename="$(find mtig_driver)/urdf/body_full_fixed_baxter.xacro" />
  <body />

</robot>
